<div class="container">

  <div class="row text-center my-3" id="header">
      <h1>Chats for <%= @travel.country %></h1>
  </div>


  <div class="mb-4">
    <% if @chats.any? %>
      <ul>
        <% @chats.each do |chat| %>
          <li><%= link_to chat.title, travel_chat_path(@travel, chat), style:"text-decoration: none;" %></li>
        <% end %>
      </ul>
    <% else %>
      <div class="text-center chats-index">
        There are no chats yet.
      </div>
    <% end %>

  <div class="d-flex justify-content-center mt-3 link">
    <%= simple_form_for [@travel, @chat] do |f| %>
      <%= f.button :submit, "New chat", class: "btn btn-primary link-btn" %>
    <% end %>
  </div>

</div>
